@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
}

body {
    font-size: 22px;
    
}

.container{
    background: linear-gradient(to right, rgba(27, 26, 26, 0.863), rgba(0, 0, 0, 0.904));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn{
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(170, 30, 72, 0.925);
    color: #fff;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out;
}

.btn:active {
    transform: scale(0.85);

}

.popup{
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    z-index: 1;
    position: absolute;
    top: -20%;
    transform: scale(0.1);
    visibility: hidden;
}

.popup p{
    font-size: 18px;
}

.popup button {
    background-color: rgba(170, 30, 72, 0.925);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 500;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 40px;
    transition: 0.3s ease-in-out;
}

.popup button:active {
    transform: scale(0.95);

}

.open-popup{
    visibility: visible;
    transition: .5s ease-in-out;
    top: 40%;
    transform: scale(1);
}

.popup .fa-solid{
    color: rgba(170, 30, 72, 0.925);
    font-size: 4rem;
    
    
}